
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {

    --font-padrao: "Roboto", sans-serif;

    --cor-titulo1: #23B2EB;
    --cor-titulo2: #C024E8;

}
*{
    margin: auto;
    padding: 0px;
}
body{
    height: 100vh;
    background-color: black;
    background-image: url('imagens/imagem-fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;


    font-family: var(--font-padrao);
}

.cabecalho{
    margin: 10px;
    padding: 25px;
    width: 400px;
    margin: auto;
    font-family: var(--font-padrao);
    font-weight: 300;

    display: flex;
    align-items: center;
}
#ondeEncontrar{
    background: none;
    border: none;
    margin: 25px;

    color: var(--cor-titulo2);
    font-family: var(--font-padrao);
    font-size:16px;
    font-weight: 600;
}
#apresentacao{
    border: 1px 1px 1px solid;
    padding: 20px;
    padding-bottom: 40px;
    width: 600px;
    font-size: 20px;
    font-family: var(--font-padrao);
    font-weight: 500;
    text-align: center;
}
